.redes-container{
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: center;
}

.redes-container ul li{
    display: inline-block;
    margin: 0px 5px;
    width: 50px;
    height: 50px;
    text-align: center;
}

.redes-container ul li a{
    display: block;
    padding: 0 10px;
    background: #333;
    color: #fff;
    line-height: 50px;
    font-size: 18px;
    
}

.redes-container ul li a:hover{
    transform: translateY(-3px) scale(1.05);
    
    filter: none;
}

.redes-container ul li .email:hover{
    background: #071c7c;
}

.redes-container ul li .github:hover{
    background: #171515;
}

.redes-container ul li .instagram:hover{
    background: #e4405f;
}

.redes-container ul li .linkedin:hover{
    background: #0e76a8;
}

.redes-container ul li .whatsapp:hover{
    background: #25D366;
}